.job-container {
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .job-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.job-search-mobile-container {
  display: flex;
  width: 100%;
  border: 1px solid #475569;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #272727;
}

@media screen and (min-width: 768px) {
  .job-search-mobile-container {
    display: none;
  }
}

.job-search-lg-container {
  display: none;
  border: 1px solid #475569;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #272727;
}

@media screen and (min-width: 768px) {
  .job-search-lg-container {
    display: flex;
    width: 50%;
  }
}

.job-search-input {
  width: 85%;
  padding: 10px 20px;
  background-color: #000000;
  border: 1px solid #7e858e;
  border: 0px;
  outline: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 16px;
  color: #ffffff;
}

.search-button {
  background-color: transparent;
  border: 0px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.job-search-icon {
  color: #ffffff;
  font-size: 18px;
}

.hr-line {
  width: 100%;
  border: 1px solid #475569;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

@media screen and (min-width: 768px) {
  .loader-container {
    min-height: 50vh;
  }
}

.job-failure-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.job-failure-image {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .job-failure-image {
    width: 40%;
  }
}

.job-failure-heading {
  font-family: 'Roboto';
  font-size: 24px;
  color: #ffffff;
}

.job-failure-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #cbd5e1;
  margin: 0px 0px 30px;
}

.job-failure-retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: 110px;
  height: 35px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}

.jobs-list-container {
  list-style: none;
  padding-left: 0px;
}

.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .no-jobs-container {
    min-height: 70vh;
    width: 100%;
  }
}

.no-jobs-image {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .no-jobs-image {
    width: 50%;
  }
}

.no-jobs-heading {
  font-size: 24px;
  font-family: 'Roboto';
  color: #ffffff;
}

.no-jobs-description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #ffffff;
}

.job-profile-and-job-filter-container {
  display: flex;
  flex-direction: column;
}

.main-job-search-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 20px;
}

.job-list-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .job-list-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
