.header-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  padding: 10px 30px;
  background-color: #272727;
}

@media screen and (min-width: 576px) {
  .header-container {
    padding: 10px 100px;
  }
}

.header-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .header-mobile-container {
    display: none;
  }
}

.header-website-logo {
  width: 100px;
}

.header-nav-items-container {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.nav-link {
  text-decoration: none;
}

.home-nav-logo {
  font-size: 20px;
  color: #ffffff;
  margin-right: 15px;
  cursor: pointer;
}

.job-nav-logo {
  font-size: 20px;
  color: #ffffff;
  margin-right: 15px;
  cursor: pointer;
}

.logout-nav-logo {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.header-lg-container {
  display: none;
}

@media screen and (min-width: 576px) {
  .header-lg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.header-website-logo {
  width: 120px;
}

.header-nav-container {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
}

.header-home {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
}

.header-job {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.logout-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  width: 80px;
  height: 30px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
